/* The page heading */

h1{
	font-size:50px;
	color:#575757;
	text-shadow:2px 2px 0 rgba(0,0,0,0.15);
	position: relative;
	text-align: center;
}

/* The "on Facebook" label */

h1 span{
	background-color: #0F84C0;
	bottom: -45px;
	color: white;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	position: absolute;
	text-shadow: none;
	white-space: nowrap;
	
	-moz-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}

/* The wall post items */

#wall li{
	list-style: none;
	overflow: hidden;
	position: relative;
}



/* The user/page name */

#wall h2{
	font-size:16px;
	font-weight:normal;
}

/* The .status div container */

#wall .status{
	width:375px;
}

/* Link share attachment */

#wall .attachment{
	border-left: 1px solid #C4C4C4;
	font-size: 12px;
	overflow: hidden;
}

#wall .attachment-data{
	display:table-cell;
	vertical-align:top;
}

#wall img.picture{
	float:left;
}


/* Posted date/time, number of likes and comments */

#wall p.meta{
	color: #BBBBBB;
	font-size: 11px;
}

/* Generic demo page styles */

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#1482bb;
}

a:hover{
	text-decoration:underline;
}

#footer{
	background-color:#212121;
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	z-index: 100000;
}

#footer h2{
	font-size:20px;
	font-weight:normal;
	left:50%;
	position:absolute;
	width:400px;
	color:#eee;
}

#footer a.tzine,a.tzine:visited{
	background:url("../img/tzine.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:12px;
	height:70px;
	left:50%;
	line-height:31px;
	position:absolute;
	top:0;
	width:290px;
}